body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.first-page {
  height: 100vh;
  width: 100vw;
}

.scroller .scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  bottom: 15%;
  left: 95%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.935);
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.logo img:hover {
  scale: 1.2;
  box-shadow: 0 0 10px rgba(245, 73, 144);
}

.main {
  height: 400px;
  width: 1000px;
  font-size: 1.5rem;
  position: relative;
  top: 15%;
  left: 5%;
}

.main h1 {
  font-weight: 900;
  font-size: 50px;
}

.main span {
  color: red;
}
/* navbar style  */
.button-container {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 600px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(245, 73, 144, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: -1px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-13px);
}

.icon {
  font-size: 20px;
}
/* editor css */
#toggle_checkbox {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 6%;
  left: 90%;
  width: 60px;
  height: 35px;
  margin: 0 auto;
  background-color: rgb(7, 189, 128);
  border: 4px solid rgb(75, 114, 94);
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
  user-select: none;
}

.star {
  position: absolute;
  top: -6px;
  left: 9px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
  background-color: none;
}

.moon {
  position: absolute;
  bottom: -50px;
  right: 18px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  transition: 0.3s ease bottom;
}

.moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  background-color: none;
  width: 30px;
  height: 30px;
  font-size: 30px;
  transition: 0.2s ease background-color;
}

#toggle_checkbox:checked + label {
  background-color: rgb(75, 114, 94);
  border: 4px solid rgb(7, 189, 128);
}

#toggle_checkbox:checked + label .star {
  top: 2px;
  left: 64px;
  transform: scale(0.6);
}

#toggle_checkbox:checked + label .moon {
  bottom: 8px;
}
/* button css */
.main button {
  margin-top: 100px;
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.main button:hover {
  background: black;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.second-page .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
/* second page  */
.second-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: rgba(39, 28, 28, 0.143);
  background-color: rgb(154, 154, 234);
}

.second-page h1 {
  position: relative;
}

.second-page h1::after {
  content: "";
  margin-top: 20px;
  position: absolute;
  display: block;
  top: 100%;
  left: 48%;
  height: 18px;
  width: 90px;
  background-color: blue;
  background: linear-gradient(45deg, cyan, blue, white, green);
  transform: skewY(155deg);
}

.second-page .cards {
  height: 570px;
}
/* css of card1 */
.second-page .card1 {
  margin: 5%;
  position: relative;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card1 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card1:hover {
  transform: rotate(-15deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card1__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card1:hover .card1__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card1__title {
  margin: 0;
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.card1__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: blue;
  line-height: 1.4;
}

.card1:hover svg {
  scale: 0;
  transform: rotate(-105deg);
}
/* css of card 2 */
.card2 {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card2__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover .card2__content {
  transform: rotateX(0deg);
}

.card2__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card2:hover svg {
  scale: 0;
}

.card2__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
/* css of card3 */
:root {
  --main-color: #000;
  --bg-color: #ebd18d;
}

.card {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  padding: 25px;
  background: #ebd18d;
  border-radius: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card___wrapper-acounts {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.card__score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--main-color);
}

.card__acounts svg {
  width: 100%;
  height: 100%;
}

.card__title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 25px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
}

.card__indicator {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
}

.card__progress progress {
  width: 100%;
  height: 4px;
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-bar {
  background-color: #00000030;
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-value {
  background-color: var(--main-color);
  border-radius: 100px;
}
/* third page css */
.third-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgba(60, 23, 23, 0.263);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.feature {
  background: linear-gradient(to right, #f00, #ff0, #0ff, #0f0);
  -webkit-background-clip: text;
  color: transparent;
}

.box {
  height: 90%;
  width: 90%;
  background-color: rgb(166, 249, 166);
  background-color: rgba(40, 11, 11, 0.542);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #e0e0e0;
}

.password-strength {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 60%;
  width: 50%;
  border-radius: 20px;
  position: absolute;
  border-radius: 28px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #8d8d8d, -6px -6px 12px #ffffff;
}

.password-strength h3 {
  color: red;
}

.password-strength input {
  width: 400px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  position: absolute;
}

.password-strength span {
  position: relative;
  top: 0;
  right: 15%;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  color: red;
  font-weight: 600;
  font-size: 1rem;
}

.password-strength p{
  position: relative;
  top: 80px;
  left: 130px;
  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 20px;
  width: 65px;
  /* pointer-events: none; */
}

.password-strength input:focus ~ span {
  color: green;
  font-size: 0.75em;
  transform: translateY(-40px);
}

.pass-strenth-bar {
  height: 3px;
  width: 0;
  position: relative;
  bottom: 35px;
  right: 14%;
}

.red {
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 10px red;
  width: 100px;
  position: relative;
  right: 150px;
  transition: 0.3s ease-in;
}
.yellow {
  background-color: yellow;
  box-shadow: 0 0 10px yellow, 0 0 10px yellow;
  width: 210px;
  position: relative;
  right: 93px;
  transition: 0.3s ease-in;
}
.green {
  background-color: green;
  box-shadow: 0 0 10px green, 0 0 10px green;
  width: 400px;
  position: relative;
  right: 0px;
  transition: 0.3s ease-in;
}
/* fourth page css  */
.fourth-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #ebd18d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
/* form css  */
.contained {
  height: 550px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.155);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  background-color: #171717;
  border-radius: 25px;
  height: 500px;
  width: 400px;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  border-radius: 25px;
  padding: 0.6em;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  color: #d3d3d3;
  position: absolute;
  width: 23%;
  height: 30px;
}

.form span {
  transition: 0.3s ease-in-out;
  position: relative;
}

.input-field:focus ~ span {
  font-size: 0.75em;
  opacity: 0;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 10px 20px;
  border-radius: 5px;
  width: 50%;
  margin-right: 0.5em;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  width: 50%;
  border-radius: 5px;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

#helo {
  margin-bottom: 100px;
  height: 100px;
}

.last {
  height: 100px;
  display: grid;
  place-items: center;
}